{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home</h1>
    {{ include('flash.html.twig') }}
    <img class="imgHome" src="{{ asset('img/me.png') }}" alt="me">
{% endblock %}